<section id="aboutMe">
    <div class="text-container">
        <h1>{{ 'ABOUT_ME_COMPONENT.HEADLINE' | translate }}</h1>
        <p>{{ 'ABOUT_ME_COMPONENT.DESCRIPTION' | translate }}</p>
        <div>
            <div>
                <img src="/assets/img/icons/location_icon.png" alt="location_icon">
            </div>
            <span>{{ 'ABOUT_ME_COMPONENT.REMOTE_WORK' | translate }}</span>
        </div>
        <div>
            <div>
                <img src="/assets/img/icons/bulb_icon.png" alt="bulb_icon">
            </div>
            <span>{{ 'ABOUT_ME_COMPONENT.PROJECT_APPROACH' | translate }}</span>
        </div>
        <div>
            <div>
                <img src="/assets/img/icons/puzzle_icon.png" alt="puzzle_icon">
            </div>
            <span>{{ 'ABOUT_ME_COMPONENT.UX_UI' | translate }}</span>
        </div>
    </div>
    <div class="picture-container">
        <img src="/assets/img/picture-aboutme.png" alt="picture-aboutme" loading="lazy">
        <div></div>
    </div>
</section>