@import './../../styles.scss';

header {
    @include side-space;
    @include d-flex(space-between, center);
    position: fixed;
    top: 0;
    height: 110px;
    background-color: $color-dark;
    width: 100%;
    max-width: 1920px;
    font-size: 23px;
    z-index: 1000;

    >img {
        width: 150px;
        height: auto;
    }

    >div {
        @include d-flex(center, center);
        gap: 30px;
    }
}

a {
    transition: color 0.3s;

    &:hover {
        color: $color-primary;
    }
}