@import './../../styles.scss';

header {
    @include side-space;
    @include d-flex(space-between, center);
    position: fixed;
    top: 0;
    height: 110px;
    background-color: $color-dark;
    width: 100%;
    max-width: 1920px;
    font-size: 23px;
    z-index: 1000;

    >img {
        width: 150px;
        height: auto;
    }

}


.links {
    @include d-flex(center, center);
    gap: 30px;

}

a {
    transition: color 0.3s;

    &:hover {
        color: $color-primary;
    }
}

// -------------------- MEDIA -------------------- //


// Mobile


@media (max-width: 769px) {
    header {
        height: 100px;
        padding-left: 25px;
        padding-right: 25px;

        >img {
            width: 120px;
        }
    }

    .links {
        display: none;
    }

    .burger-menu {
        display: flex;
        padding: 30px 10px 30px 30px;

        >img {
            width: 30px;
            height: auto;
        }
    }

    .menu {
        display: none;
        position: fixed;
        top: 0;
        bottom: -100vh;
        right: 0;
        left: 0;
        background-color: rgb(71, 71, 71);
        z-index: 100;
        font-size: 23px;
        overflow: hidden;

        >div {
            width: 100vw;
            height: 100vh;
            @include d-flex(center, center);
            flex-direction: column;
            gap: 30px;
            overflow: hidden;

        }
    
    }
}