<header id="header">
    <a href="#heroSection"> <img src="../../assets/img/logo.png" alt="logo_head"></a>
    <div class="links">
        <a href="#aboutMeSection">Über mich</a>
        <a href="#skillSection">Skills</a>
        <a href="#portfolioSection">Portfolio</a>
    </div>

    <div class="hamburger">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
    </div>
</header>

<div class="menu">
    <div>
        <a href="#aboutMeSection">Über mich</a>
        <a href="#skillSection">Skills</a>
        <a href="#portfolioSection">Portfolio</a>
        <a href="#contactSection">Kontakt</a>
    </div>
</div>