<header>
    <img src="../../assets/img/logo.png" alt="logo_head">
    <div class="links">
        <a href="#aboutMeSection">About me</a>
        <a href="#skillSection">Skills</a>
        <a href="#portfolioSection">Portfolio</a>
    </div>

    <div class="burger-menu">
        <img src="../../assets/img/icons/icons_mobil/burger_menu.png" alt="">
    </div>
   
</header>

<div class="menu">
    <div>
        <a href="#aboutMeSection">About me</a>
        <a href="#skillSection">Skills</a>
        <a href="#portfolioSection">Portfolio</a>
        <a href="#contactSection">Contact</a>
    </div>
</div>