<footer>
    <div>
        <img src="./../../assets/img/logo.png" alt="logo">
        <span>© Björn Wenderoth 2024</span>
        <div class="links">
            <a href="https://github.com/bjoernwenderoth/" target="_blank">
                <img src="/assets/img/icons/github_icon.png" alt="GitHub">
            </a>
            <a href="mailto:bjoernwe1989@googlemail.com">
                <img src="/assets/img/icons/mail_icon.png" alt="Mail">
            </a>
            <a href="https://www.linkedin.com/in/bj%C3%B6rn-wenderoth-3b4717260/" target="_blank">
                <img src="/assets/img/icons/linkedin_icon.png" alt="LinkedIn">
            </a>
        </div>
    </div>
    <a class="impressum" routerLink="/imprint">{{ 'FOOTER.IMPRINT' | translate }}</a>
</footer>