@import './../../../styles.scss';

section {
    @include d-flex(flex-end, flex-end);
    flex-direction: column;
    padding-left: 100px;
    width: 100%;
    margin-bottom: 200px;

    >img {
        position: absolute;
        top: 3200px;
        right: 50px;
        width: 50%;
        z-index: -1;
    }

    >div {
        @include d-flex(center, flex-start);
        flex-direction: column;

        >div {
            @include d-flex(center, center);
            gap: 30px;
        }
    }
}

.line {
    width: 109px;
    height: 4px;
    background-color: $color-accent;
}

.max-line {
    width: 100vw;
    max-width: 484px;
    height: 4px;
    background-color: $color-accent;
}

// -------------------- MEDIA -------------------- //


// Mobile

@media (max-width: 769px) {

    section {
        align-items: center;
        padding-left: 25px;
        margin-bottom: 100px;

        >div {
            width: 100vw;
            align-items: flex-end;
       
            >div {
                justify-content: flex-end;
            }
        }
    }

    span {
        width: 100vw;
        padding-right: 40px;
        padding-left: 40px;
        text-align: center;
    }

    .line {
        width: 50px;
    }

    .max-line {
        width: 30vw;
        max-width: 40vw;
    }
}