<section>
    <div class="container-top">
        <div class="profil-picture-container">
            <img src="./../../../assets/img/picture-hero-section.png" alt="picture-hero-section">
        </div>
        <div class="profil-text-container">
            <div>
                <h2>I am</h2>
                <div class="name-title">
                    <h1>BJÖRN WENDEROTH</h1>
                    <h2 class="purple fade-in-effect">FRONTEND DEVELOPER</h2>
                </div>
            </div>
            <button>Let`s Talk!</button>
        </div>
    </div>
    <div class="social-scroll-container">
        <div class="social-links">
            <div></div>
            <img src="./../../../assets/img/icons/github_icon.png" alt="github_icon">
            <img src="./../../../assets/img/icons/mail_icon.png" alt="mail_icon">
            <img src="./../../../assets/img/icons/linkedin_icon.png" alt="linkedin_icon">
            <a href="mailto:bjoernwe1989&#64;gmail.com">bjoernwe1989&#64;gmail.com</a>
        </div>

        <div class="scroll-down">
            <a href="#scrolldown">Scroll down</a>
            <img src="./../../../assets/img/icons/arrow-right.png" alt="arrow-right">
        </div>
    </div>
    <img class="bow-hero" src="./../../../assets/img/background-images/bow_hero.png" alt="">
</section>