@import './../../styles.scss';

main {
    position: relative;
    @include d-flex(center, center);
    flex-direction: column;
    width: 100%;
    z-index: 0;
    padding-top: 150px;
}

.content-wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.background-container-aboutme,
.background-container-skills,
.background-container-portfolio,
.background-container-portfolio-bottom,
.background-container-contact {
    width: 100%;
    position: relative;
}

app-hero-section,
app-about-me {
    position: relative;
    z-index: auto
}

.background-container-aboutme {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 10vh;
    background-image: url('/assets/img/background-images/purple_blur_aboutme.png');
    background-repeat: no-repeat;
    background-position: 85vw 80vh;
    background-size: auto 60vh;
    z-index: -5;
}

app-skills,
app-portfolio {
    position: relative;
    z-index: auto
}

.background-container-skills {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 10vh;
    background-image: url('/assets/img/background-images/blue_blur_skills.png');
    background-repeat: no-repeat;
    background-position: -40vw 5%;
    background-size: 50vw auto;
    z-index: -5;
}

app-portfolio {
    position: relative;
    z-index: auto
}

.background-container-portfolio {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 10vh;
    background-image: url('/assets/img/background-images/purple_blur_portfolio.png');
    background-repeat: no-repeat;
    background-position: 70vw 36%;
    background-size: 42vw auto;
    z-index: -5;
}

.background-container-portfolio-bottom {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 10vh;
    background-image: url('/assets/img/background-images/blue_blur_portfolio_bottom.png');
    background-repeat: no-repeat;
    background-position: 87vw 160%;
    background-size: 45vw auto;
    z-index: -5;
}

.background-container-contact {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 10vh;
    background-image: url('/assets/img/background-images/contact_blur.png');
    background-repeat: no-repeat;
    background-position: -12vw calc(100% + 23vw);
    background-size: 55vw auto;
    z-index: -5;
}

// -------------------- MEDIA -------------------- //

@media (max-width: 900px) {
    main {
        padding-top: 110px;
    }
}