<main>
    <div class="background-container-aboutme">
        <app-hero-section id="heroSection"></app-hero-section>
        <app-about-me id="aboutMeSection"></app-about-me>
    </div>

    <div class="background-container-skills">
        <app-skills id="skillSection"></app-skills>
        <div class="background-container-portfolio">
            <div class="background-container-portfolio-bottom">
                <app-portfolio id="portfolioSection"></app-portfolio>
            </div>
        </div>
    </div>

    <div class="background-container-contact">
        <app-contact id="contactSection"></app-contact>
    </div>
</main>