@import './../../styles.scss';

section {
    position: relative;
    margin: 0 auto;
    padding-top: 150px;
    max-width: 1440px;
}

.headline {
    @include d-flex(flex-start, center);

    >h1 {
        text-align: end;
        padding-left: 30px;
    }

    >div {
        width: 10vw;
        height: 4px;
        background-color: $color-accent;
    }
}

.privacy-policy {
    @include d-flex(center, flex-start);
    @include side-space;
    flex-direction: column;
    max-width: 1600px;
    margin-bottom: 30px;

    >p {
        padding-left: 10px;
    }

    h3 {
        margin-top: 30px;
    }
}

.link-back {
    @include d-flex(flex-end, center);
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;

    .icon-back {
        rotate: 180deg;
        margin-right: 8px;
    }
}

// -------------------- MEDIA -------------------- //

@media (max-width: 769px) {
    .privacy-policy {
        padding-left: 25px;
        padding-right: 25px;
    }

    .headline {
        >h1 {
            font-size: 20px;
        }
    }
    .link-back {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 1100px) {

    .headline {
        >h1 {
            font-size: 32px;
        }
    }
}

@media (max-width: 480px) {

    .headline {
        >h1 {
            font-size: 20px;
        }
    }
}