// COLOR LIBARY
$color-primary: #1CDAE6;      // Light Blue
$color-dark: #141D2F;         // Dark Blue
$color-accent: #70E61C;       // Green Accent
$color-purple: #9747FF;       // Purple Accent
$color-dark-transparent: #141D2FCC;  // Dark Blue with Transparency