
// COLOR LIBARY ORIGINAL
$color-primary: #0f8dac;      // Light Blue
$color-dark: #141D2F;         // Dark Blue
$color-accent: #0f8dac;       // Green Accent
$color-blue: #393892;       // Purple Accent
$color-dark-transparent: #141D2FCC;  // Dark Blue with Transparency


// // alternative LIBARY ORIGINAL
// $color-primary: #d5ac86;      // Light Blue
// $color-dark: #0D0D0D;         // Dark Blue
// $color-accent: #0A4036;       // Purple Accent
// $color-blue: #d5ac86;       // Purple Accent
// $color-dark-transparent: #141D2FCC;  // Dark Blue with Transparency