// COLOR LIBARY
$color-primary: #1CE6B6;      // Light Blue
$color-dark: #141D2F;         // Dark Blue
$color-accent: #00BEE8;       // Green Accent
$color-blue: #4B47FF;       // Purple Accent
$color-dark-transparent: #141D2FCC;  // Dark Blue with Transparency