<section>
    <a href="#contact">
        <button id="btnContactMobile" class="d-none">{{ 'SKILLS_COMPONENT.BTN_CONTACT' | translate }}</button>
    </a>
    <div class="logo-container">
        <div class="logo" *ngFor="let logo of logos">
            <img [src]="logo.imgSrc" [alt]="logo.altText">
            <span>{{ logo.labelText }}</span>
        </div>
        <div class="logo">
            <img src="/assets/img/icons/learning_icon.png" alt="learning_icon">
            <span style="color: #393892">{{ 'SKILLS_COMPONENT.LEARNING' | translate }}</span>
        </div>
    </div>
    <div class="text-container">
        <div class="headline">
            <h1>Skills</h1>
            <div class="line"></div>
        </div>
        <div class="text">
            <p>{{ 'SKILLS_COMPONENT.EXPERIENCE_TECH' | translate }}</p>
            <br>
            <h3>{{ 'SKILLS_COMPONENT.SKILLS_OFFER' | translate }}</h3>
            <p>{{ 'SKILLS_COMPONENT.CONTACT_INVITE' | translate }}</p>
            <a href="#contact">
                <button id="btnContact">{{ 'SKILLS_COMPONENT.BTN_CONTACT' | translate }}</button>
            </a>
        </div>
    </div>
</section>