<section>
    <a href="#contact">
        <button id="btnContactMobile" class="d-none">zum Kontakt</button>
    </a>
    <div class="logo-container">
        <div class="logo" *ngFor="let logo of logos">
            <img [src]="logo.imgSrc" [alt]="logo.altText">
            <span>{{ logo.labelText }}</span>
        </div>
        <div class="logo">
            <img src="./../../../assets/img/icons/learning_icon.png" alt="learning_icon">
            <span style="color: #393892">Continually learning</span>
        </div>
    </div>

    <div class="text-container">
        <div class="headline">
            <h1>Skills</h1>
            <div class="line"></div>
        </div>
        <div class="text">
            <p>Ich habe an verschiedenen Projekten gearbeitet und dabei unterschiedliche Frontend-Technologien
                genutzt.<br>
                Neue Tools und Techniken probiere ich gerne aus, um dazuzulernen und in der Webentwicklung immer auf dem
                neuesten Stand zu bleiben.</p>
            <br>
            <h3>Suchen sie noch andere Skills?</h3>
            <p>Schreiben sie, ich freue mich darauf, mein Wissen weiter auszubauen!
            </p>
            <a href="#contact">
                <button id="btnContact">zum Kontakt</button>
            </a>
        </div>
    </div>
</section>