<section>
    <div class="headline">
        <div></div>
        <h1>{{ "IMPRINT.HEADLINE" | translate }}</h1>
    </div>
    <div class="imprint">
        <h3>{{ "IMPRINT.HEADLINE" | translate }}</h3>
        <p>
            <b>{{ "IMPRINT.ADRESS_TITLE" | translate }}</b><br>
            Björn Wenderoth<br>
            Hahntrift 2<br>
            34270 Schauenburg<br>
            {{ "IMPRINT.COUNTRY" | translate }}
        </p>
        <h3>{{ "IMPRINT.CONTACT_TITLE" | translate }}</h3>
        <p>
            {{ "IMPRINT.PHONE" | translate }}: +49 (0) 176 - 78 345 707<br>
            E-Mail: <a href="mailto:bjoernwe1989@googlemail.com">bjoernwe1989&#64;googlemail.com</a>
        </p>
        <h3>{{ "IMPRINT.RESPONSIBLE_TITLE" | translate }}</h3>
        <p>
            Björn Wenderoth<br>
            Hahntrift 2<br>
            34270 Schauenburg<br>
            {{ "IMPRINT.COUNTRY" | translate }}
        </p>
        <h3>{{ "IMPRINT.LIABILITY_FOR_CONTENT.TITLE" | translate }}</h3>
        <p>
            {{ "IMPRINT.LIABILITY_FOR_CONTENT.PARAGRAPH_1" | translate }} </p>
        <p>
            {{ "IMPRINT.LIABILITY_FOR_CONTENT.PARAGRAPH_2" | translate }}  </p>
        <h3>{{ "IMPRINT.LIABILITY_FOR_LINKS.TITLE" | translate }}</h3>
        <p>
            {{ "IMPRINT.LIABILITY_FOR_LINKS.PARAGRAPH_1" | translate }}  </p>
        <p>
            {{ "IMPRINT.LIABILITY_FOR_LINKS.PARAGRAPH_2" | translate }}  </p>
        <h3>{{ "IMPRINT.COPYRIGHT.TITLE" | translate }}</h3>
        <p>
            {{ "IMPRINT.COPYRIGHT.PARAGRAPH_1" | translate }}  </p>
        <p>{{ "IMPRINT.COPYRIGHT.PARAGRAPH_2" | translate }}  </p>
    </div>
    <a href="" class="link-back">
        <img class="icon-back" src="/assets/img/icons/arrow-right.png" alt="">
        <span>{{ "IMPRINT.BACK" | translate }}</span>
    </a>
</section>
