@import './../../../styles.scss';

section {
    padding-bottom: 200px;

    >div {
        @include d-flex(flex-start, center);
        flex-direction: row;
        gap: 30px;
        width: 100%;
        margin-bottom: 50px;

        >.line {
            width: calc(50% - 200px);
            height: 4px;
            background-color: $color-blue;
        }
    }

    .container {
        display: flex;
        align-items: flex-start;
        gap: 200px;
    }

    .text-container {
        @include d-flex(center, flex-start);
        flex-direction: column;
        text-align: start;
        gap: 38px;
        padding-left: 100px;
        flex: 1;

        >h2 {
            font-size: 32px;
            font-weight: 700;
        }
    }

    .form-container {
        flex: 1;
        padding-right: 50px;

        >form {
            @include d-flex(flex-start, flex-start);
            flex-direction: column;
        }
    }

    mat-form-field {
        width: 100%;
        margin-bottom: 8px;
    }

    .textarea {
        height: 200px;
    }
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
  

.mat-bottom-sheet-container {
    z-index: 10000 !important;
}

::ng-deep .mdc-text-field--focused .mdc-notched-outline>* {
    border-color: $color-accent !important;
}

::ng-deep .mdc-text-field--invalid .mdc-notched-outline>* {
    border-color: red !important;
}

::ng-deep html {
--mdc-outlined-text-field-caret-color: auto; 
}

.invalid {
    border-color: green;
}

a {
    color: $color-blue;
    font-weight: bold;
    margin: 0px 3px;

    &:hover {
        text-decoration: underline;
    }
}

.privacy-link {
    color: $color-blue;
    font-weight: bold;
    z-index: 1000;

    &:hover {
        text-decoration: underline;
    }
}

md-checkbox .md-label {
    pointer-events: auto;
}
md-checkbox .md-label span {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    @include button-bg($color-accent, $color-blue);
    margin-top: 30px;

    &[disabled] {
        background-color: grey;
        color: white;
        cursor: not-allowed;
    }
}

.btn-up {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    transition: transform 0.3s ease;
}

.btn-up:hover {
    transform: scale(1.15);
}

// -------------------- MEDIA -------------------- //

@media (max-width: 769px) {
    
    .container {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    .text-container {
        max-width: 100%;
    }
}

@media (max-width: 1100px) {

    section {
        padding-bottom: 100px;

        .text-container {
            gap: 20px;
            padding-left: 0px;
            margin-bottom: 80px;
        }

        .container {
            display: flex;
            grid-template-columns: none;
            flex-direction: column;
            gap: 0;
            padding-left: 50px;
            padding-right: 50px;
        }

        .form-container {
            padding-right: 0px;

            >form {
                align-items: center;
            }
        }
    }
}