<section id="contact">
  <div>
    <div class="line"></div>
    <h1>{{ 'CONTACT_COMPONENT.HEADLINE' | translate }}</h1>
  </div>
  <div class="container">
    <div class="text-container">
      <h2>{{ 'CONTACT_COMPONENT.CHALLENGE_PROMPT' | translate }}</h2>
      <span>{{ 'CONTACT_COMPONENT.CONTACT_FORM_INVITE' | translate }}</span>
      <span>{{ 'CONTACT_COMPONENT.FRONTEND_DEVELOPER_OFFER' | translate }}
        <b>{{ 'CONTACT_COMPONENT.CONTACT_ME' | translate }}</b></span>
    </div>
    <div class="form-container">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <!-- Name Input -->
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input [(ngModel)]="contactData.name" name="name" matInput required>
        </mat-form-field>
        <!-- E-Mail Input -->
        <mat-form-field appearance="outline">
          <mat-label>E-Mail</mat-label>
          <input [(ngModel)]="contactData.email" name="email" #email="ngModel"
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" matInput placeholder="max@mustermann.com"
            required />
          <!-- Fehler anzeigen, wenn ungültig und das Feld wurde bereits berührt -->
          <mat-error *ngIf="email.invalid && email.touched">{{ errorMessage() }}</mat-error>
        </mat-form-field>
        <!-- Textarea Input -->
        <mat-form-field appearance="outline">
          <mat-label>{{ 'CONTACT_COMPONENT.FORM_TEXTBOX' | translate }}</mat-label>
          <textarea class="textarea" [(ngModel)]="contactData.message" name="message" minlength="5" matInput
            required></textarea>
        </mat-form-field>
        <!-- Checkbox -->
        <mat-checkbox [(ngModel)]="contactData.privacy" name="privacy" required>
          {{ 'CONTACT_COMPONENT.FORM_CHECKBOX_TEXT' | translate }}
          <a (click)="navigateToPrivacy($event)">{{ 'CONTACT_COMPONENT.FORM_CHECKBOX_LINK' | translate }}</a>
          {{ 'CONTACT_COMPONENT.FORM_CHECKBOX_SUFFIX' | translate }}
        </mat-checkbox>
        <!-- Submit Button -->
        <button mat-raised-button color="primary" [disabled]="!contactForm.form.valid || !contactData.privacy">
          {{ 'CONTACT_COMPONENT.FORM_BTN' | translate }}
        </button>
      </form>
    </div>
    <a class="btn-up" href="#heroSection">
      <img src="./../../../assets/img/icons/go_up_button.png" alt="go_up_button">
    </a>
  </div>
</section>