@import '../src/style/color.scss';
@import '../src/style/fonts.scss';

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Poppins;
  color: white;
}


body {
  background-color: $color-dark;
}

body a {
  text-decoration: none;
  cursor: pointer;
}

@mixin d-flex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin side-space {
  padding-left: 100px;
  padding-right: 100px;
}

@mixin button-bg($firstC, $secondC) {
  background-color: $firstC;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $secondC;
  }
}

button {
  // @include button-bg($color-accent, $color-blue);
  @include d-flex(center, center);
  cursor: pointer;
  width: auto;
  height: 58px;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  font-size: 23px;
}