@import '../src/style/color.scss';
@import '../src/style/fonts.scss';

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Poppins;
  color: #f2f2f2;
  scroll-behavior: smooth;
  scroll-padding: 150px;
}

body {
  background-color: $color-dark;
  display: flex;
  justify-content: center;
}


body a {
  text-decoration: none;
  cursor: pointer;
}

@mixin d-flex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin side-space {
  padding-left: 100px;
  padding-right: 100px;
}

@mixin button-bg($firstC, $secondC) {
  background-color: $firstC;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $secondC;
  }
}

button {
  @include d-flex(center, center);
  cursor: pointer;
  width: auto;
  height: 58px;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  font-size: 23px;
  text-wrap: nowrap;
}

::ng-deep .mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #0f8dac;
}


::ng-deep .mat-bottom-sheet-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  min-width: 384px;
  max-width: calc(100vw - 128px);
  height: 50px;
  border-top: 2px solid green !important;
  border-right: 2px solid green;
  border-left: 2px solid green;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

// -------------------- SCROLLBAR -------------------- //


/* Grundlegende Scrollbar-Stile für Webkit-Browser (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: $color-dark; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Für Firefox */
* {
  scrollbar-width: thin; 
  scrollbar-color: #888 #f1f1f1; 
}

/* Optional: Für Internet Explorer und Edge */
.scrollable-element {
  -ms-overflow-style: -ms-autohiding-scrollbar; 
}



// -------------------- MEDIA -------------------- //

@media (max-width: 1300px) {
  button {
    height: 48px;
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  button {
    height: 42px;
    font-size: 16px;
    padding: 10px 20px;
  }
}

.d-none {
  display: none;
}